{% extends "Restaurante/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="card-title">Lista de Ordenes</div>
                        <a class="btn btn-primary" href="{% url 'orden_create' %}">Crear Orden</a>

                        <table class="table">
                            <thead>
                            <tr>
                                 <th>ID</th>
                                 <th>Mesa</th>
                                 <th>Mesero</th>
                                 <th>Cliente</th>
                                 <th>NIT</th>
                                 <th>Platos</th>
                                 <th>Estado</th>
                                 <th>Fecha y Hora</th>
                                 <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for orden in ordenes %}
                                    <tr>
                                      <td>{{ orden.id }}</td>
                                      <td>Mesa {{ orden.mesa.numero }}</td>
                                      <td>{{ orden.mesero.nombres }} {{ orden.mesero.apellidos }}</td>
                                      <td>{% if orden.cliente %} {{ orden.cliente.nombres }} {% else %} - {% endif %}</td>
                                      <td>{% if orden.cliente %} {{ orden.cliente.nit }} {% else %} - {% endif %}</td>
                                      <td>
                                        <ul>
                                          {% for plato in orden.platos.all %}
                                            <li>{{ plato.nombre }}</li>
                                          {% endfor %}
                                        </ul>
                                      </td>
                                      <td>{{ orden.estado }}</td>
                                      <td>{{ orden.fecha }}</td>
                                      <td>
                                        <a class="btn btn-primary" href="{% url 'orden_edit' orden.id %}">Editar</a> |
                                        <a class="btn btn-primary" href="{% url 'orden_delete' orden.id %}">Eliminar</a> |
                                        <a href="{% url 'orden_pagar' orden.id %}" class="btn {% if orden.estado == 'Cerrado' %}btn-danger{% else %}btn-success btn-sm{% endif %}">Pagar</a>
                                      </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="8">No hay órdenes registradas.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}